/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

/* CSS Variables */
:root {
  --navbar-height: 59px;
}

/* Navigation Bar */
#navebar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

#navebar::before {
  content: "";
  background-color: rgb(12, 11, 11);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.5;
  filter: blur(2px);
}

/* Navigation Bar: Logo and Image */
#logo {
  margin: 10px 36px;
}

#logo img {
  background-color: rgb(12 47 74 / 59%);
  border: 2px solid rgb(7, 7, 7);
  border-radius: 40px;
  margin: 3px 6px;
  height: 82px;
}

/* Navigation Bar: List styleing */

#navebar ul {
  display: flex;
  font-family: "Baloo Bhai", cursive;
}

#navebar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navebar ul li a {
  display: block;
  color: white;
  padding: 2px 10px;
  border-radius: 13px;
  text-decoration: none;
}

#navebar ul li a:hover {
  color: black;
  background-color: white;
}

/* home section */
#home {
  display: flex;
  flex-direction: column;
  padding: 2px 10px;
  height: 432px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  background: url("../img/bg/bg1.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60%;
  width: 100%;
  z-index: -1;
  opacity: 0.83;
}

#home h1 {
  color: white;
  text-align: center;
  font-family: "Bree Serif", serif;
}

#home p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Bree Serif", serif;
}

/* services section */
#services {
  display: flex;
  margin: 32px;
}

#services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: 2px 55px;
  border-radius: 28px;
  background: #d0d5b7;
  margin-bottom: 20px;
}

#services .box img {
  display: block;
  height: 140px;
  margin: auto;
}

#services .box p {
  font-family: "Bree Serif", serif;
}

/* Clients Section */
#client-section {
  position: relative;
}

#client-section::before {
  content: "";
  position: absolute;
  background: url("../img/bg/bg.jpg");
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
}

#clients {
  display: flex;
  justify-content: center;
  text-align: center;
}

#clients img {
  height: 124px;
}

.client-item {
  padding: 50px;
}
.client-item1 {
  padding: 50px;
}

/* Contact Section */
#contact {
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  background: url("../img/bg/contact.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}

#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.1rem;
}

#contact-box form {
  width: 40%;
}

#contact-box label {
  font-size: 1.7rem;
  font-family: "Bree Serif", serif;
}

footer {
  background-color: black;
  color: white;
  padding: 9px 20px;
}

/* utility class */
.h-paimary {
  font-family: "Bree Serif", serif;
  font-size: 2.8rem;
  padding: 14px;
}

.h-secondary {
  font-family: "Bree Serif", serif;
  font-size: 1.7rem;
  padding: 14px;
}

.btn {
  padding: 6px 10px;
  margin: 13px 5px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid white;
  color: white;
  background-color: #ffff004a;
  font-size: 1.5rem;
  cursor: pointer;
}

.center {
  text-align: center;
}
